
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.cityDay{
background-image: url(/assets/cityDay.png);
}

.cityNight{
    background-image: url(/assets/cityNight.png);
    }

.appWrapper{
    display:flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.submitWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height:40rem;
    background-color: #177c72;
    border-radius: 20px;

}
.cryptoBox{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #093f50;
    height:18rem;
    width:18rem;
    border-radius: 10px;
    
    padding-left: 3px;
}
.weatherBox{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #093f50;
    height:18rem;
    width:18rem;
    border-radius: 10px;
    margin-bottom: 5rem;
    padding-left: 3px;
}
.allCryptodata{
    align-items: center;
    justify-content: center;
    color:antiquewhite;
    
}
.cryptoName{
    font-size: 2rem;
    display: flex;
    align-content: center;
    justify-content: center;
    margin:0;
    margin-bottom: 2rem;
}
.weather{
    font-size: 2rem;
    color: antiquewhite;
    display: flex;
    align-content: center;
    justify-content: center;
    margin:0;
    margin-bottom: 2rem;
}
input {
    border-radius: 5px;
    height: 1.5rem;
    background-color: darkgray;
    outline: none;
    outline: none;
    border-style: none;
    
    
}
#search-button{
    cursor: pointer;
    width: 4rem;
}
#search-button:hover{
    background-color:darkgoldenrod;
    
}

.top5 p{
    margin: 10px;
    font-size: 15px;
    
    
}

.form_hidden {
    display: none;
}
.watchList{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.watchList button{
    border-radius: 5px;
    border-style: none;
    width: 6rem;
    background-color: darkgray;
}
.watchList button:hover{
    background-color:darkgoldenrod;
    cursor: pointer;
}
.watchListPage{
   position: absolute;
   align-items: center;
   justify-content: center;
    min-width: 30rem;
    min-height:40rem;
    background-color: #177c72;
    border-radius: 20px;
    display: none;
    
    

}
.watchListPage p{
    color: beige;
    font-size: 10px;
    background-color: #093f50;
    height:10rem;
    width:10rem;
    border-radius: 10px;
    padding: 15px;
    flex-wrap: wrap;
    margin: 1rem auto;
   display: inline-block;
    
    
    
   
}
.watchListPage button{
    border-style: none;
    border-radius: 5px;
    display: inline-block;
    
    
}
.watchListPage button:hover{
    background-color:darkgoldenrod;
    cursor: pointer;

}
.watchlistwrap{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}




.exitButton{
    position: fixed;
    display: none;
    background-color: antiquewhite;
    cursor: pointer;
    border-radius: 5px;
    border-style: none;
    bottom: 30%;
    min-width: 3rem;
    
    
}
.exitButton:hover{
    background-color:darkgoldenrod;
}

.date { 
    margin-bottom: 5%;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

.time { 
    margin-bottom: 5%;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}